.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .container{
  width: 350px;
  height: 650px;
  margin-left: 560px;
  margin-top: 30px;
  background-color: lightgrey;
  border: solid;
  border-radius: 10px;
 }
 .img1{
  width: 290px;
  padding: 29px;
  border-radius: 40px;
 }
 .name{
  font-weight: 900;
  font-size: 40px;
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-style: oblique;
  color: #00488e;
 }
 .static{
  padding-left: 25px;
  font-weight: 700;
  color: #767676;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .dynamic{
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
 }